/* ====== GLOBAL ====== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'ponppins', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  font-family: Arial, sans-serif;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px ;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.85);
  backdrop-filter: blur(8px);
  z-index: 1000;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo img {
  width: 60px;
  height: auto;
  margin-right: 10px;
}

.logo h1 {
  font-size: 30px;
  color: black;
  font-style: italic;
}

nav ul {
  display: flex;
  gap: 60px;
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  color: black;
  font-size: 20px;
  font-weight: 400;
  transition: 0.3s;
  padding: 8px 12px;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

nav ul li a:hover {
  color: blue;
  transform: scale(1.1);
}


/* ====== CARD ====== */
.card {
  max-width: 700px;
  margin: 20px auto;
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.card img {
  width: 100%;
  border-radius: 5px;
  margin: 10px 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

header .logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

header nav ul {
  display: flex;
  gap: 20px;
  list-style: none;
}

header nav ul li a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.card p {
  margin: 12px 0;
  line-height: 1.6;
}


/* ====== FOOTER (FULL WIDTH) ====== */
.footer {
  width: 100%;
  background-color: #7f6abf;
  color: black;
  padding: 20px 30px;
  box-sizing: border-box;
  margin-top: 40px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 30px;
  padding-bottom: 20px;
  border-bottom: 1px solid black;
  width: 100%;
}

.footer-section {
  flex: 1;
  min-width: 150px;
}

.footer-section h4 {
  margin-bottom: 10px;
  font-size: 18px;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin: 6px 0;
}

.footer-section ul li a {
  text-decoration: none;
  color: black;
}

.footer-bottom {
  text-align: center;
  margin-top: 15px;
  font-size: 14px;
}