* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'ponppins', sans-serif;
}
body {
    font-family: 'Poppins', sans-serif;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px ;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.85);
  backdrop-filter: blur(8px);
  z-index: 1000;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo img {
  width: 35px;
  border-radius: 10px;
}

.logo h1 {
  font-size: 30px;
  color: black;
  font-style: italic;
}

nav ul {
  display: flex;
  gap: 60px;
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  color: black;
  font-size: 20px;
  font-weight: 400;
  transition: 0.3s;
  padding: 8px 12px;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

nav ul li a:hover {
  color: blue;
  transform: scale(1.1);
}

.service-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.card {
  width: 360px;
  background: white;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  margin: 90px auto;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}

.card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 10px;
}

.card h3 {
  font-size: 20px;
  font-weight: 600;
  color: #1c1c1c;
}

.card a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  transition: 0.3s;
}

.card a:hover {
  color: white;
  text-decoration: underline;
}
.btn {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 25px;
  background-color: black;
  color: black;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

  /* FOOTER */
.footer {
  width: 100%;
  background-color: #7f6abf;
  color: black;
  padding: 20px 30px; /* aman, tidak bikin melebar */
  box-sizing: border-box; /* penting */
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap; /* biar tidak ketarik */
  gap: 30px;
  border-bottom: 1px solid black;
  padding-bottom: 20px;
  width: 100%;
}

.footer-section {
  min-width: 150px;  /* biar tidak numpuk */
  flex: 1;           /* bagi rata */
}

.footer-section h4 {
  margin-bottom: 10px;
  font-size: 18px;
}

.footer-section ul {
  padding: 0;
  list-style: none;
}

.footer-section ul li {
  margin: 6px 0;
}

.footer-bottom {
  text-align: center;
  margin-top: 15px;
  font-size: 14px;
}