* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'ponppins', sans-serif;
}
body {
    font-family: 'Poppins', sans-serif;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px ;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.85);
  backdrop-filter: blur(8px);
  z-index: 1000;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo img {
  width: 35px;
  border-radius: 10px;
}

.logo h1 {
  font-size: 30px;
  color: black;
  font-style: italic;
}

nav ul {
  display: flex;
  gap: 60px;
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  color: black;
  font-size: 20px;
  font-weight: 400;
  transition: 0.3s;
  padding: 8px 12px;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

nav ul li a:hover {
  color: blue;
  transform: scale(1.1);
}
.wrapper {
    max-width: 1100px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    gap: 5rem;

}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 40px;
}

.card {
    background-color: #ffffff;
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 20px 30px;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.1);
    max-width: 700px;
    margin: auto;
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 10px;
}

h3 {
    color: #444;
    margin-top: 20px;
}

ul {
    line-height: 1.6;
}

p {
    color: black;
}
.footer {
  width: 100%;
  background-color: #7f6abf;
  color: black;
  padding: 20px 30px; /* aman, tidak bikin melebar */
  box-sizing: border-box; /* penting */
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap; /* biar tidak ketarik */
  gap: 30px;
  border-bottom: 1px solid black;
  padding-bottom: 20px;
  width: 100%;
}

.footer-section {
  min-width: 150px;  /* biar tidak numpuk */
  flex: 1;           /* bagi rata */
}

.footer-section h4 {
  margin-bottom: 10px;
  font-size: 18px;
}

.footer-section ul {
  padding: 0;
  list-style: none;
}

.footer-section ul li {
  margin: 6px 0;
}

.footer-bottom {
  text-align: center;
  margin-top: 15px;
  font-size: 14px;
}